@import url('https://fonts.googleapis.com/css2?family=Sarabun:wght@400&family=Staatliches&display=swap');

:root {
  --bg: white;
  --bg-code: #f7f7f7;
  --bg-cta: #dee3ea;
  --text-primary: #222;
  --text-secondary: #6b7280;
  --text-code: #222;
  --brand: #002147;
  --outline: #f3f4f6;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: #040411;
    --bg-code: #1c1e28;
    --bg-cta: #041228;
    --text-primary: #e5e5e5;
    --text-secondary: #bfbfbf;
    --text-code: #eee;
    --brand: #006eed;
    --outline: #232323;
  }
}

body {
  margin: 0;
  background: var(--bg);
  color: var(--text-primary);
  font-family: Sarabun, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.6;
}

main {
  max-width: 48rem;
  margin: 8rem auto 2rem;
}

@media (max-width: 768px) {
  main {
    margin-right: 1.5rem;
    margin-left: 1.5rem;
  }
}

footer {
  height: 32px;
}

h1 {
  margin-top: 0;
  margin-bottom: 0.75rem;
  font-family: Staatliches, system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  font-size: 3rem;
  font-weight: bold;
  line-height: 1;
}

a {
  color: var(--link);
}

h1,
h2,
h3 {
  line-height: 1.2;
}

img {
  max-width: 100%;
}

/* Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
